body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 242, 242);
    color: rebeccapurple
}
h1{
    background-color: rgb(17, 17, 18);
    color: aqua;
}
a{
    text-decoration: none;
    color: #32a53e;
}
.content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
li{
    text-align: left;
}